*{
    margin:0;
    padding:0;
}


/*--HEADER--*/

header {
    background-color: #112D4E;
    
}

header nav ul { 
    list-style:none;
   font-family: 'Roboto Slab', serif;
}

header nav ul li { 
    list-style:none;
   font-family: 'Roboto Slab', serif;
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   
}
header nav ul li a {
    text-decoration: none;
    color: white;
}



/*MAIN BODY*/




body {
    background-color: #3F72AF;
}

.carrusel{ 
    background-color: #3F72AF;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    display: flex;  
    justify-content: center;
}

.carrusel img {
    max-width: 100%;
    height: auto;

}


.lmv { 
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #3F72AF;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}
.lmv h2{
    text-size-adjust: 200%;
    padding:35px;
    position: absolute;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}



.lmv div h3 {
 background-color: rgba(7, 17, 109, 0.342);
 margin-bottom: 15px;

}

.lmv div h4 {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.lmv div img {
height: 300px;
border-radius: 30px;
}

.cc1,.cc2,.cc3 {
    display: inline-block;
    margin: 60px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  overflow: hidden;
}
.cc1:hover,.cc2:hover,.cc3:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transform: scale(1.30, 1.30);
}
.acercade{ 
    background-color: #4d8bd6;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.acercade h2 {
    color: white;
    text-align: center;
    padding:20px;
    padding-bottom: 30px;
}

.acercade h3 {
    padding: 20px;
    text-align: justify;
    padding: bottom 30px;
}

/*grid main body*/

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat (auto-fit, minmax(200px, 1fr)) ;
    gap: 0px 0px; 
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "carrusel carrusel carrusel"
    "lmv lmv lmv"
    "acercade acercade acercade"
  }
  .cabecera { grid-area: cabecera; }
  .carrusel { grid-area: carrusel; }
  .lmv { grid-area: lmv; }
  .acercade { grid-area: acercade; }
  

/*FOOTER*/

footer {
    background-color: #3F72AF;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
}

footer img {
 height: 50px;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 justify-content: end;
 align-items: flex-end;
}

footer h4{
color: white;
font-size: 11px;
padding-right: 15px;
}


/*PRODUCTS*/

/*AJUSTAR VISTA DE LAS TARJETAS FEMENINO DEPENDIENDO DE ANCHURA*/
/*FEMENINO*/

@media only screen and (max-width: 706px){
    .women { 
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #2b568a;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: white;
    }
    .women h2{
        text-size-adjust: 200%;
        padding:35px;
        text-transform: uppercase;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    }
    
    .card{
        display: inline-block;
        max-width: 650px;
        height: auto;
        margin: 10px 5px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        align-items: center;
        background-color: white;
    }
    .card img {
        float: center;
        height: 420px;
        width: 320px;
        border-radius: 7px 7px 7px 7px;
      }
    
      .card__info {
        float: center;
        height: auto;
        width: 327px;
        border-radius: 7px 7px 10px 7px;
        background-color: #ffffff;
        color: black;  
      }
    
      .card__info h3 {
        margin: 0 10px 0 10px;
        padding-top: 15px;
        font-size: 30px;
        color: #474747;
    }
    
    .card__info p {
        height: auto;
        margin: 0 10px 0 10px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
      }
    
    span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .btnbuy button {
        float: none;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #311bf7;
      }

}

@media only screen and (min-width: 707px) {

.women { 
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2b568a;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}
.women h2{
    text-size-adjust: 200%;
    padding:35px;
}

.card{
    display: inline-block;
    max-width: 650px;
    height: auto;
    margin: 50px 30px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 7px 7px 7px 7px;
	align-items: center;
    background-color: white;
}
.card img {
    float: left;
    height: 420px;
    width: 320px;
    border-radius: 7px 7px 7px 7px;
  }

  .card__info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 7px 7px 10px 7px;
    background-color: #ffffff;
    color: black;  
  }

  .card__info h3 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.card__info p {
    height: 125px;
    margin: 0 0 0 25px;
    font-family:sans-serif, serif;
    color: #8d8d8d;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }

  .btnbuy {
    height: 103px;
    width: 327px;
    margin-top: 1px;
    position: relative;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .btnbuy button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #311bf7;
  }
  }

  /*MASCULINO*/
  @media only screen and (max-width: 705px) {
    .men { 
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #2b568a;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: white;
    }
    .men h2{
        text-size-adjust: 200%;
        padding:35px;
        text-transform: uppercase;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    }
    
    .mcard{
        display: inline-block;
        margin: 10px 5px;
        max-width: 650px;
        height: auto;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        align-items: center;
        background-color: lightgray;
    }
    .mcard img {
        float: center;
        height: 420px;
        width: 320px;
        border-radius: 7px 7px 7px 7px;
      }
    
      .mcard__info {
        float: center;
        height: auto;
        width: 327px;
        border-radius: 7px 7px 10px 7px;
        background-color:lightgray;
        color: black;  
      }
    
      .mcard__info h3 {
        margin: 0 12px 0 12px;
        padding-top: 10px;
        font-size: 30px;
        color: #474747;
    }
    
    .mcard__info p {
        height: auto;
        margin: 5px 11px 5px 11px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 16px;
        font-weight: lighter;
        overflow: hidden;
      }
    span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .mbtnbuy button {
        float: none;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 30px 0 18px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 70px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #1512b4;
      }
    }
  
  @media only screen and (min-width: 706px) {
    .men { 
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2b568a;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
}
.men h2{
    text-size-adjust: 200%;
    padding:35px;
}

.mcard{
    display: inline-block;
    height: 420px;
    width: 654px;
    margin: 50px 30px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 7px 7px 7px 7px;
	align-items: center;
    background-color: lightgray;
}
.mcard img {
    float: right;
    height: 420px;
    width: 320px;
    border-radius: 0 7px 7px 0;
  }

  .mcard__info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 7px 7px 10px 7px;
    background-color:lightgray;
    color: black;  
  }

  .mcard__info h3 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.mcard__info p {
    height: 125px;
    margin: 0 0 0 25px;
    font-family:sans-serif, serif;
    color: #8d8d8d;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }

  .btnbuy {
    height: 103px;
    width: 327px;
    margin-top: 1px;
    position: relative;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .mbtnbuy button {
    float: left;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 30px 0 18px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 70px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #1512b4;
  }

}
 


/*INFANTIL GRID */
@media only screen and (min-width: 835px){
    .kidsgrid {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.05fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "infantil infantil"
        "card1 card2"
        "card3 card4";
        justify-items: center;
                }

  .infantil { grid-area: infantil; }
  .card2 { grid-area: card2; }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }
  .card1 { grid-area: card1; }

.infantil {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-size-adjust: 400%;
    padding:35px;
    text-align: center;
    text-size-adjust: 200%;
    padding:35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

  .card1,.card2,.card3,.card4{
    display:grid;
    max-width: 650px;
    height: 750px;
    width: auto;
    margin: 50px 30px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 7px 7px 7px 7px;
    background-color: white;
    justify-items: center;
}
.card1 img,.card2 img,.card3 img,.card4 img{
    height: auto;
    max-width: 350px;
    border-radius: 7px 7px 7px 7px;  
    align-self: center;
  }

  .card1__info,.card2__info,.card3__info,.card4__info {
    height: auto;
    max-width: 340px;;
    border-radius: 7px 7px 10px 7px;
    background-color: #ffffff;
    color: black;  
  }

  .card1__info h3,.card2__info h3,.card3__info h3,.card4__info h3 {
    margin: 0 0 0 10px;
    padding-top: 10px;
    font-size: 35px;
    color: #474747;
}

.card1__info p,.card2__info p,.card3__info p,.card4__info p {
    height: auto;
    margin: 10px 20px 10px 25px;
    font-family:sans-serif, serif;
    color: #8d8d8d;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    align-self: center;
  }

span {
    align-self: center;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }

  .btnbuy1,.btnbuy2,.btnbuy3,.btnbuy4 {
    height: 103px;
    width: 327px;
    margin-top: 1px;
    position: relative;
    align-self: center;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .btnbuy1 button,.btnbuy2 button,.btnbuy3 button,.btnbuy4 button  {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #311bf7;
  }

}
  
  @media only screen and (max-width: 834px){
    .kidsgrid {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.05fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "infantil"
          "card1"
          "card2"
          "card3"
          "card4"; 
      }
      .infantil { grid-area: infantil; }
      .card1 { grid-area: card1; }
      .card2 { grid-area: card2; }
      .card3 { grid-area: card3; }
      .card4 { grid-area: card4; }

      .card1{
        display:grid;
        max-width: 650px;
        height: 750px;
        margin: 50px 30px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        background-color: white;
        justify-items: center;
    }
    .card1 img{
        height: auto;
        max-width: 350px;
        border-radius: 7px 7px 7px 7px;  
        align-self: center;
      }
    
      .card1__info {
        height: auto;
        max-width: 340px;;
        border-radius: 7px 7px 10px 7px;
        background-color: #ffffff;
        color: black;  
      }
    
      .card1__info h3 {
        margin: 0 0 0 10px;
        padding-top: 10px;
        font-size: 35px;
        color: #474747;
    }
    
    .card1__info p {
        height: auto;
        margin: 10px 20px 10px 25px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
        align-self: center;
      }
    
    span {
        align-self: center;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy1 {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: relative;
        align-self: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .btnbuy1 button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #311bf7;
      }
    
      .card2{
        display:grid;
        max-width: 650px;
        height: auto;
        margin: 50px 30px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        background-color: white;
        justify-items: center;
    }
    .card2 img{
        height: auto;
        max-width: 350px;
        border-radius: 7px 7px 7px 7px;  
        align-self: center;
      }
    
      .card2__info {
        height: auto;
        max-width: 340px;;
        border-radius: 7px 7px 10px 7px;
        background-color: #ffffff;
        color: black;  
      }
    
      .card2__info h3 {
        margin: 0 0 0 10px;
        padding-top: 10px;
        font-size: 35px;
        color: #474747;
    }
    
    .card2__info p {
        height: auto;
        margin: 10px 20px 10px 25px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
        align-self: center;
      }
    
    span {
        align-self: center;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy2 {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: relative;
        align-self: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .btnbuy2 button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #311bf7;
      }
    
      .card3{
        display:grid;
        max-width: 650px;
        height: auto;
        margin: 50px 30px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        background-color: white;
        justify-items: center;
    }
    .card3 img{
        height: auto;
        max-width: 350px;
        border-radius: 7px 7px 7px 7px;  
        align-self: center;
      }
    
      .card3__info {
        height: auto;
        max-width: 340px;;
        border-radius: 7px 7px 10px 7px;
        background-color: #ffffff;
        color: black;  
      }
    
      .card3__info h3 {
        margin: 0 0 0 10px;
        padding-top: 10px;
        font-size: 35px;
        color: #474747;
    }
    
    .card3__info p {
        height: auto;
        margin: 10px 20px 10px 25px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
        align-self: center;
      }
    
    span {
        align-self: center;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy3 {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: relative;
        align-self: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .btnbuy3 button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #311bf7;
      }
    
      .card4{
        display:grid;
        max-width: 650px;
        height: auto;
        margin: 50px 30px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 7px 7px 7px 7px;
        background-color: white;
        justify-items: center;
    }
    .card4 img{
        height: auto;
        max-width: 350px;
        border-radius: 7px 7px 7px 7px;  
        align-self: center;
      }
    
      .card4__info {
        height: auto;
        max-width: 340px;;
        border-radius: 7px 7px 10px 7px;
        background-color: #ffffff;
        color: black;  
      }
    
      .card4__info h3 {
        margin: 0 0 0 10px;
        padding-top: 10px;
        font-size: 35px;
        color: #474747;
    }
    
    .card4__info p {
        height: auto;
        margin: 10px 20px 10px 25px;
        font-family:sans-serif, serif;
        color: #8d8d8d;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
        align-self: center;
      }
    
    span {
        align-self: center;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
    
      .btnbuy4 {
        height: 103px;
        width: 327px;
        margin-top: 1px;
        position: relative;
        align-self: center;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: 'Suranna', serif;
        font-size: 34px;
      }
      
      .btnbuy4 button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #311bf7;
      }  
      .infantil {
        font-family: 'Roboto Slab', serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        text-size-adjust: 400%;
        padding:35px;
        text-align: center;
        text-size-adjust: 200%;
        padding:35px;
        text-transform: uppercase;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    }
}

    /*ENCUENTRANOS*/

.encuentranos {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #5791d8c2;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    align-items: center;
    color: white;
}

    .map{
        overflow:hidden;
        padding-bottom:50.25%;
        position:relative;
        height:0;
    }
    
    .map iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }


        /*CONTACTO*/


        .contacto {
            background-color: #3F72AF;
            font-family: 'Roboto Slab', serif;
            align-items: center;   
            text-align: center;
           }

        .contacto h1 {
           
                text-align: center;
                color: white;
                padding-top: 35px;
             }

        form {
            display: block;
            align-items: center;
            text-align: center;
            padding: 1em;
            width: 100%;
            margin-top: 1em;
            display: inline-block;
            margin-left: 15%;
            margin-right:15%;
            width: 60%;
        }


        #submit {
            color: white; 
            background: rgba(32, 6, 150, 0.856);
            cursor: pointer;
            max-width: 100px;
         }

         #reset {
          color: white; 
          background: rgba(32, 6, 150, 0.856);
          cursor: pointer;
          max-width: 100px;
        }

        input, textarea {
            border:0; outline:0;
            padding: 1em;
            border-radius: 8px;
            display: inline-block;
            width: 100%;
            margin-top: 1em;
            font-family: 'Merriweather', sans-serif;
            box-shadow:(0 1px 1px rgba(black, 0.1));
            resize: none;
        }
